.welcomeDash {
  border: 1px solid;
  border-color: #111;
  background-color: #111;
  box-shadow: 2px 0px 8px black;
  padding-bottom: 40px;
  margin-top: -10px;
}

.dashboard h1 {
  text-align: center;
  color: #0a0a0a;
  margin-top: 70px;
  margin-bottom: 70px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.dashboard {
  border: 1px solid;
  border-color: black;
  border-radius: 10px;
}

.dashboardCard {
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  /* height: 400px; */
}

.btn {
  background-color: #111;
  color: #cecece;
}

.btn:hover{
  color: white;
}

.headLijst {
  border: 3px solid;
  border-color: black;
  border-radius: 5px;
  padding: 10px;
}

.btn-group {
  align-items: right;
}

.lijstWijzig {
  border: 3px solid;
  border-color: black;
  padding: 20px;
  border-width: 100%;
}

.editForm {
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  padding: 70px;
}

.editForm button {
  margin-bottom: 10px;
}

.bi-pencil-square, .bi-x-lg {
  color: black;
}