body {
	background-color: #FAF9F6;
	min-height: 300vh;
}

.border {
	border: 2px solid lightgray;
	border-radius: 7px;
	padding: 2rem 2rem;
}

.reserveren {
	position: fixed;
	z-index: 2;
	animation-duration: 3s;
	top: 10vh; 
	right: 0vw; 
	min-height: 80vh; 
	min-width: 20vw;
	max-width: 20vw;
}

.border-black-bottom {
	border-bottom: 1px solid black;
}

.border-black-top{
	border-top: 1px solid black;
}

.border-black-left {
	border-left: 1px solid black;
}

.border-black-right {
	border-right: 1px solid black;
}