@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@1&family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@1&family=Libre+Baskerville:ital@1&family=Space+Grotesk&display=swap');


body {
	background-color: #FAF9F6;
	min-height: 300vh;
	-webkit-font-smoothing: antialiased;
}

html {
	-webkit-text-size-adjust: 100%;
}

.border {
	border: 2px solid lightgray;
	border-radius: 7px;
	padding: 2rem 2rem;
}

.icon {
	height: 5vh;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icon i {
	cursor: pointer;
}

.icon h5 {
	margin: 0;
	font-weight: 700;
}

.reserveren {
	position: fixed;
	z-index: 2;
	padding: 5px 10px;
	bottom: 5vh; 
	right: 0vw; 
	height: 5vh; 
	min-width: 20vw;
	max-width: 20vw;
	transition: 1s;
	overflow-y: hidden;
}

.toggleActive {
	height: 80vh; 
}

.border-black-bottom {
	border-bottom: 1px solid black;
}

.border-black-top{
	border-top: 1px solid black;
}

.border-black-left {
	border-left: 1px solid black;
}

.border-black-right {
	border-right: 1px solid black;
}

#food, #drinks {
	text-decoration: none;
	color: black;
	transition: 300ms;
}

#food:hover, #drinks:hover{
	text-decoration: none;
	opacity: 0.5;
}
.Heading_about{
	font-family: 'Baskervville', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 40px;
}

.about_text {
	font-family: 'Baskervville', sans-serif;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 500;
}

em {
	font-family: 'Baskervville', serif;
	font-family: 'Libre Baskerville', serif;
}

.heading_2 {
	font-family: 'Space Grotesk', sans-serif;
	line-height: 1.1;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 48px;
}

small {
	font-family: 'Baskervville', sans-serif;
	font-size: 16px;
	font-weight: 700;
}

/*.test {
	color: black;
	transition: 300ms;
}

.test:hover {
  	-webkit-text-fill-color: white;
  	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: black;
}*/

.blackToWhite {
	color: black;
	transition: 300ms;
}
.blackToWhite:hover {
	color: white;
  	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	cursor: pointer;
}

#bestellen {
	color: black;
	transition: 300ms;
}

#bestellen:hover {
	opacity: 0.5;
	text-decoration: none !important;
}
